 
 
 
*{
     font-family: "Poppins", sans-serif;
     font-weight: 100;
  font-style: normal;
}

#timelabel,#datelabel,#daylabel{
    font-size: 40px;
    color: #62a7e7;
}

#datelabel{
color: #14c759;
}